#scrum {
	width:100%;
	border-spacing: 10px;
}

td.projectDrag {
	vertical-align: top;
	background: #fff;
	border:1px solid #2AA8B9;
	width:50%;
	padding:10px 20px;
	
}
td.projectDrag {
	width:33%;
	min-width: 200px;	
	padding:1px 1px 1px 1px;
}
.projectDrag ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
	min-height: 200px;
}
.projectDrag ul li:hover {
	cursor: pointer;	
}
.projectDrag ul li {
	display:block;
	background: #2AA8B9;
	color:#fff;
	font-size:14px;
	padding:10px 10px 10px 10px;
	overflow: hidden;
	position:relative;
	box-shadow: 1px 1px 1px #999999;
	border:1px solid #2AA8B9;
	border-bottom: 1px solid #194B7E;
}
.projectDrag ul li div.progressbar, .projectDrag ul li div.progressbaruser {
	position:absolute;
	background: #000;
	height:5px;
	-moz-opacity : .5;
	opacity:.5;
	
	bottom:0;
	left:0;
}
.projectDrag ul li div.progressbaruser {
	background: #ccc;
}

.projectDrag ul li div.actions {
	float:right;
	display:none;
}
.projectDrag ul li.idea {
	background: #eee;
}
.projectDrag ul li.idea a {
	color:#000;	
}
.projectDrag ul li.inprogress {
	background: green;
}
.projectDrag ul li.inprogress div.actions {
	display:block;
}

.projectDrag ul li.inprogress div.actions select.progress {
	display:inline-block;
}
.projectDrag ul li.inprogress div.actions span[rel=time] {
	font-size:12px;
	display:inline-block;
}


.projectDrag ul .ui-state-highlight {
	background: #fff;
	height:30px;
	border:1px solid yellow;
}

.projectDrag ul li div.view {
	display: none;
}
.projectDrag ul li a.save {
	font-weight: normal;
	color:#fff;
	text-decoration: none;
	background: blue;
	border-radius: 5px;
	padding:3px;
}
.projectDrag ul li.finish {
	background: grey;
}

.projectDrag ul li a {
	color:#fff;
}


div.bodyline {
	z-index:1050;
}
